{% extends 'index.html' %}

{% block title %}
Grocery Marketplace
{% endblock %}

{% block body %}
    <div class="container">
        {% for product in products %}
        <div class="row">
            <div class="col">
                <div class="alert alert-light">
                    <h3>{{ product.name }} by {{ product.brand }}</h3>
                    <p>{{ product.price }} KZT</p>
                    <img src="{{ product.img.url }}" width="180"/>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}