{% extends 'index.html' %}

{% block title %}
Grocery Marketplace
{% endblock %}

{% block body %}
    <div class="container">
        <div class="text-end">
            <p>{{products|length}} products</p>
        </div>
        <div class="row">
        {% for product in products %}
        <div class="col">
        <div class="alert alert-light">
            <div class="row">
                <div class="col">
                    <a href="{{ product.id }}"><img src="{{ product.img.url }}" class="" width="180"/></a>
                </div>  
                <div class="col">
                    {{forloop_count}}
                    <h3>{{ product.name }} by {{ product.brand.name }}</h3>
                    <p><strong>{{ product.price }} KZT</strong></p>
                </div>   
            </div>
        </div>
        </div>
        {% if forloop.counter|divisibleby:"3" %}
            <div class="w-100"></div>
        {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}